# node / next
apps/web/.next/
apps/web/node_modules/
apps/web/.vercel/
# python
apps/api/__pycache__/
apps/api/.venv/
# env & local
.env
*.env
# macOS
.DS_Store
README
.minio-data/
__pycache__/
*.py[cod]
.vscode/
.minio-data/.minio.sys/buckets/.usage.json/xl.meta
.minio-data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
.minio-data/.minio.sys/buckets/.usage-cache.bin/xl.meta
.minio-data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
.minio-data/.minio.sys/buckets/.usage.json/xl.meta
.minio-data/.minio.sys/buckets/uploads/.usage-cache.bin/xl.meta
.minio-data/.minio.sys/buckets/uploads/.usage-cache.bin.bkp/xl.meta
